.collect {
  width: 200px;
  height: 300px;
  overflow-y: scroll;
}

.submitbtn {
  margin-top: 15px;
}

.rating {
  margin-bottom: 10px;
}

.reg {
  margin-top: 10px;
}

body {
  background-image: url("madmen.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  font: 400 20px/1.2 'Nixie One', Georgia, serif;
  background-size: cover;
  background-position:center;
}

.picktopic {
  margin-bottom: 0 !important;
}

.marginT {
  margin-top: 60px;
}

.title {
  font: 4.1rem 'Nixie One' !important;
  margin-left: 15px;
}

.log {
  margin-right: 15px;
}

.regForm {
  margin-left: 38.333333% !important;
}

.pImg {
  width: 500px;
}
