<div>
  <div class="section"></div>
  <div ng-controller="TopicCtrl as topic">
    <div class="row">
      <div class="col s4 offset-s1">
        <div class="col s12 white z-depth-3">
          <ul class="collection with-header">
            <li class="collection-header"><h4 class="center">What's on your mind?</h4></li>
            <form class="col s12" name="topicForm" ng-submit="topic.addTopic()" novalidate>
              <div class="row">
                <div class="input-field col s8">
                  <input ng-class="{'valid': topicForm.topic.$valid, 'invalid': topicForm.topic.$invalid && topicForm.topic.$dirty}" name="topic" type="text" ng-model="topic.topicToAdd" required ng-minlength=3>
                  <label ng-class="{'green-text text-lighten-2': topicForm.topic.$valid, 'red-text text-lighten-2': topicForm.topic.$invalid && topicForm.topic.$dirty}" for="topic">Add Topic</label>
                  <span ng-show="userTopic.topic.$error.minlength">Must be at least 3 characters</span>
                </div>
                <div class="col s4">
                  <button class="btn waves-effect waves-light submitbtn col s12 black" type="submit">Submit</button>
                </div>
              </div>
            </form>
            <div class="collect col s12">
              <li class="collection-item" ng-click="post.addPostTopic(top)" ng-repeat="top in topic.topics | filter: { name: topic.topicToAdd } | orderBy : 'name' ">
                <a class="black-text" href="#/home">{{top.name}}</a>
                <a ng-click="topic.removeTopic(top)" href="#!" class="secondary-content">
                  <i class="material-icons red-text text-darken-4">delete</i>
                </a>
                <a ng-click="topic.filterById(top.id)" href="#/home" class="secondary-content">
                  <i class="material-icons green-text text-darken-4">search</i>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="col s6">
        <form class="row" name="postForm" ng-submit="post.addPost()">
          <h4 class="center">Compose a Gab</h4>
          <div class="input-field col s6 offset-s3">
            <input type="text" name="topic" ng-model="post.postForm.topic" readonly = "readonly" class="black-text center picktopic" placeholder="Click on a topic">
            <input type="hidden" name="topicId" ng-model="post.postForm.topicId" value="{{post.postForm.topicId}}">
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <input ng-class="{'valid': postForm.title.$valid, 'invalid': postForm.title.$invalid && postForm.title.$dirty}" required ng-minlength=3 ng-model="post.postForm.title" name="title" type="text">
            <label ng-class="{'green-text text-lighten-2': postForm.title.$valid, 'red-text text-lighten-2': postForm.title.$invalid && postForm.title.$dirty}" for="title">Title</label>
            <span ng-show="postForm.title.$error.minlength">Must be at least 3 characters</span>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">add_a_photo</i>
            <input ng-class="{'valid': postForm.imageUrl.$valid, 'invalid': postForm.imageUrl.$invalid && postForm.imageUrl.$dirty}" required ng-model="post.postForm.imageUrl" name="imageUrl" type="url">
            <label ng-class="{'green-text text-lighten-2': postForm.imageUrl.$valid, 'red-text text-lighten-2': postForm.imageUrl.$invalid && postForm.imageUrl.$dirty}" for="imageUrl">Image URL</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">insert_comment</i>
            <textarea ng-class="{'valid': postForm.description.$valid, 'invalid': postForm.description.$invalid && postForm.description.$dirty}" required ng-minlength=3 ng-maxlength=200 ng-model="post.postForm.description" class="materialize-textarea" name="description" type="text"></textarea>
            <label ng-class="{'green-text text-lighten-2': postForm.description.$valid, 'red-text text-lighten-2': postForm.description.$invalid && postForm.description.$dirty}" for="description">The Gab:</label>
            <span ng-show="postForm.description.$error.minlength">Must be between 3 to 60 characters</span>
          </div>
          <button class="btn waves-effect waves-light right black" type="submit" >Submit</button>
        </form>
      </div>
    </div>
    <div class="container row">
      <div class="col s12 marginT" ng-repeat="p in post.posts | filter: { topicId: topic.filterName } | orderBy : 'topicId' ">
        <div class="card horizontal">
          <div class="card-image">
            <img class="responsive-img" ng-src="{{p.imageUrl}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="row">
                <div class="col s12">
                  <h6 class="right">{{topic.getTopicName(p.topicId)}}</h6>
                  <h5>{{p.title}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="col s10">
                    <h6>{{p.description}}</h6>
                  </div>
                  <div class="col s2">
                    <div class="row rating">
                      <a href="" ng-click="post.upRating(p)"><i class="material-icons right green-text text-darken-4">thumb_up</i></a>
                    </div>
                    <div class="row rating">
                      <p class="right">{{p.rating}}</p>
                    </div>
                    <div class="row">
                      <a href="" ng-click="post.downRating(p)"><i class="material-icons right red-text text-darken-4">thumb_down</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a ng-click="showme=true" href="#/home">Comment</a>
              <span ng-show="showme" class="card-content">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="comment" class="materialize-textarea"></textarea>
                      <label for="comment"></label>
                      <a href="#" ng-click="topic.addComment()" class="btn waves-effect waves-light" type="submit" >Post<i class="material-icons right">send</i></a>
                      <a class="right" ng-click="showme=false" href="#/home">Hide</a>
                    </div>
                  </div>
                </form>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
