<div>
  <div class="row">
    <form class="col s12" novalidate>
      <div class="row center">
        <div class="col s4 offset-s6">
          <h2>Sign In</h2>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s6">
          <i class="material-icons prefix">person</i>
          <input id="username" type="text" ng-model="authCtrl.username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s6">
          <i class="material-icons prefix">security</i>
          <input id="password" type="password" ng-model="authCtrl.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row center">
        <div class="col s4 offset-s6">
          <a href="" ng-click="authCtrl.login()" class="btn waves-effect waves-light submitbtn red darken-4" type="submit">Login</a>
        </div>
      </div>
      <div class="row center">
        <div class="reg col s4 offset-s6">
          <a class="red-text tex-darken-4" href="#/register">Register</a>
        </div>
      </div>
    </form>
  </div>
</div>
